body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin: 30px 20px 10px 20px;
}
.halg-width{
    width: 50%;
    padding: 15%;
}
.halg-width img{
    width 50%
    height: 50%
}
.Link-button{
    text-decoration: none;
    background-image:linear-gradient(tomato, #da45f8);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    width: 700;
}
.top-banner{
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
